$cell_size: 50px

table.status
  td.game_lost
    background-color: #B00100
  td.game_won
    background-color: #58b03b
  td.still_playing
    background-color: #696fb0

table.sapper
  border-color: #000000
  border-collapse: collapse
  .table_cell
    height: $cell_size
    width: $cell_size
    border: 1px solid black
    text-align: center
  .table_cell.numbers
    background-color: #aaaaaa
  .table_cell.bomb
    background-color: #730E15
  .table_cell.empty
    background-color: #ffffff
  .table_cell.closed
    background-color: #555555
